/* 기본 네비게이션 바 스타일 */
.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px; /* 고정 높이 설정 */
    padding: 0 20px; /* 상단과 하단의 padding 제거 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

/* 로고 이미지 */
.logo img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

/* 네비게이션 메뉴 */
.navbar-center {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar-center li {
    margin-right: 20px;
}

.navbar-center li a,
.navbar-right a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
}

.navbar-center li a:hover,
.navbar-right a:hover {
    background-color: #ecfaff;
    color: black;
}

/* 로그인 상태에서 오른쪽 메뉴 */
.navbar-right {
    display: flex;
}

body {
    margin-top: 60px; /* 네비게이션 바 높이를 고려한 여백 */
    margin-bottom: 60px; /* 푸터와 겹치지 않도록 여백 추가 */
}

/* 페이지 전환 시 애니메이션 효과 */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.main-content {
    opacity: 0;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

/* 반응형 네비게이션 바 */
@media (max-width: 768px) {
    .navbar {
        padding: 10px;
    }
    .navbar-center li {
        margin-right: 10px;
    }
    .navbar-center li a {
        font-size: 16px;
    }
}
